<footer>
  <a class="logo" rel="author" href="/">
    <img width="178" height="40" src="/assets/images/logo.png" alt="Logo" />
  </a>

  <div class="birds"></div>

  <nav class="footer-nav">
    <section>
      <span class="section-heading">Protocol</span>
      <a href="https://app.mangata.finance/">Application</a>
      <a href="">GitHub</a>
    </section>
    <section>
      <span class="section-heading">Company</span>
      <a href="https://mangata.finance/about-us">About Us</a>
      <a href="https://mangata.finance/about-us#join-mangata-team">Careers</a>
    </section>
  </nav>
</footer>
