<footer>
  <a class="logo" href="/" rel="author">
    <img alt="Logo" height="57" src="/assets/images/logo.png" width="253"/>
  </a>

  <div class="birds"></div>

  <nav class="footer-nav">
    <section>
      <span class="section-heading">Protocol</span>
      <a href="https://app.mangata.finance/">Application</a>
      <a href="https://github.com/mangata-finance">GitHub</a>
    </section>
    <section>
      <span class="section-heading">Company</span>
      <a href="https://mangata.finance/about-us">About Us</a>
      <a href="https://mangata.finance/about-us#join-mangata-team">Careers</a>
    </section>
  </nav>
  <script src="/assets/main.js" type="text/javascript"></script>

</footer>
