@font-face {
  font-family: GT Walsheim Pro;
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimProRegular"),
    url("/assets/fonts/GTWalsheimProRegular.woff2") format("woff2"),
    url("/assets/fonts/GTWalsheimProRegular.woff") format("woff"),
    url("/assets/fonts/GTWalsheimProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #243436;
}

body {
  position: relative;
  min-height: 100vh;
  /* background-image: url(/assets/images/bg.svg); */
  /* background-repeat: repeat-x; */
  /* background-position: top center; */
  background: linear-gradient(
    180deg,
    #f1f9fa,
    #f1f9fa 600px,
    #ffffff 900px,
    #ffffff
  );
  font-family: "GT Walsheim Pro", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

header#site-header {
  padding: 32px 16px;
  transition: background 0.3s, padding 0.2s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 834px) {
  header#site-header {
    padding: 32px 24px;
  }
}

header#site-header.withBackground {
  padding: 16px;
  background: #ffffff;
}

@media screen and (min-width: 834px) {
  header#site-header.withBackground {
    padding: 16px 24px;
  }
}

header#site-header .logo img {
  width: 48px;
  display: block;
}

@media screen and (min-width: 834px) {
  header#site-header .logo img {
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  header#site-header .logo img {
    width: 180px;
  }
}

.logo-image {
  width: 178px;
  height: 40px;
  background-image: url(/assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav.main-nav {
  display: flex;
  align-items: center;
}

nav.main-nav a {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

nav.main-nav a:not(.testnet) {
  margin-right: 8px;
  padding: 4px;
  color: #5e727f;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (min-width: 834px) {
  nav.main-nav a:not(.testnet) {
    margin-right: 32px;
    padding: 8px;
  }
}

nav.main-nav a.blog {
  color: #14abb9;
}

nav.main-nav a.testnet {
  min-width: 120px;
  padding: 12px 16px;
  border: 1px solid #14abb9;
  border-radius: 100px;
  color: #14abb9;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.birds {
  width: 368px;
  height: 188px;
  background: url(/assets/images/birds.png) center / contain no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}

footer .birds {
  top: -72px;
  left: 152px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 248px;
}

h1 {
  margin: 0;
  font-size: 96px;
}

h1.post-title {
  font-size: 56px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

a {
  color: #14abb9;
}

.blog-nav {
  margin-top: 40px;
}

.blog-nav a {
  margin-right: 24px;
  text-decoration: none;
  color: #5e727f;
}

.blog-nav a.active {
  color: #14abb9;
}

ul.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-meta {
  line-height: 40px;
  height: 40px;
  margin-top: 16px;
}

.post .post-meta {
  display: flex;
  justify-content: space-between;
}

.share-headline {
  color: #5e727f;
  margin-right: 4px;
  font-size: 14px;
}

.share-links {
  line-height: 28px;
  height: 28px;
  display: inline-block;
}

.share-links a {
  text-decoration: none;
  line-height: 28px;
  height: 28px;
}

.share-links img {
  vertical-align: bottom;
  margin-bottom: 1px;
}

.author-image {
  vertical-align: bottom;
  margin-right: 4px;
  margin-bottom: 1px;
}

.post-list-item {
  margin-top: 90px;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.author {
  font-size: 14px;
}

.date {
  font-size: 14px;
  color: #5e727f;
}

.excerpt {
  max-width: 620px;
}

a.post-link {
  text-decoration: none;
  color: inherit;
}

.post-content,
.post-header,
.post-social,
.post-signup,
.post-share-bottom {
  max-width: 640px;
  margin: 0 auto;
}

.post-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.post-content {
  margin-top: 40px;
  font-size: 18px;
  line-height: 30px;
  overflow-wrap: break-word;
}

.post-content img {
  width: 100%;
  margin: 36px 0;
}

.post-social {
  font-size: 18px;
  line-height: 30px;
}

.post-signup {
  background-color: #f1f9fa;
  border-radius: 10px;
  padding: 40px 32px 32px;
  margin-top: 80px;
  box-sizing: border-box;
  position: relative;
}

.post-signup__inner {
  position: relative;
  z-index: 100;
}

.post-signup__inner__join-the-community {
  padding: 32px 0 12px;
  color: #243436;
  font-size: 20px;
  line-height: 130%;
}

.post-signup__inner__social-links {
  display: flex;
}

.post-signup__inner__social-links a {
  width: 28px;
  height: 28px;
}

.post-signup__inner__social-links a:not(:last-of-type) {
  margin-right: 20px;
}

.post-signup__inner__social-links a img {
  width: 100%;
  height: 100%;
}

.post-signup h3 {
  margin: 0;
}

.post-signup p {
  color: #5e727f;
  margin-top: 8px;
  margin-bottom: 24px;
}

.post-signup > img {
  width: 285px;
  filter: drop-shadow(-10px 2px 30px rgba(5, 43, 46, 0.15));
  position: absolute;
  right: -72px;
  bottom: -80px;
}

.signup-wrapper {
  padding: 8px;
  padding-left: 16px;
  border-radius: 100px;
  max-width: 360px;
  display: flex;
  background: white;
}

.signup-input {
  padding: 8px;
  color: #b8bbbd;
  width: 100%;
  background: white;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  transition: color 2s ease-in;
}

.signup-input.error {
  color: red;
  transition: none;
}

.signup-button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  background: #14abb9;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.hidden {
  position: absolute;
  left: -5000px;
}

.post-share-bottom {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-share-bottom__trade-btn {
  padding: 12px 16px;
  background: #14abb9;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: box-shadow 0.3s;
  display: flex;
}

.post-share-bottom__trade-btn:hover {
  box-shadow: 0 2px 5px 2px rgba(11, 94, 102, 0.35);
}

footer {
  padding: 72px 24px 96px;
  overflow-x: hidden;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

footer .logo {
  margin: 0;
  display: inline-block;
}

footer .logo img {
  display: block;
}

.footer-left {
  position: relative;
  display: flex;
}

.footer-nav {
  padding-top: 16px;
}

.footer-nav section {
  float: left;
  margin-left: 88px;
  display: flex;
  flex-direction: column;
}

.footer-nav .section-heading {
  padding-bottom: 24px;
  color: #14abb9;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.footer-nav a {
  padding-bottom: 16px;
  color: #b8bbbd;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

/* Language: css */
/* Media query for screens smaller than 800px */
@media screen and (max-width: 900px) {
  main {
    margin: 0 24px;
  }

  h1 {
    font-size: 56px;
    margin-top: 136px;
  }

  h1.post-title {
    font-size: 48px;
    margin-top: 136px;
  }

  .birds.birds-main {
    max-width: 90%;
    left: 5%;
    top: 152px;
  }

  .logo-image {
    width: 48px;
    height: 48px;
    background-image: url(/assets/images/logo-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .blog-nav {
    margin-top: 24px;
  }

  .post-list-item:first-of-type {
    margin-top: 48px;
  }

  .post-signup {
    padding: 16px 24px;
  }

  .signup-button {
    margin-top: 16px;
  }

  .signup-input {
    border-radius: 100px;
    width: 100%;
    box-sizing: border-box;
  }

  .post-signup form {
    width: 100%;
  }

  .post-signup > img {
    display: none;
  }

  .signup-wrapper {
    padding: 0;
    border-radius: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    background: transparent;
  }

  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    gap: 40px;
  }

  footer .footer-nav section {
    margin-left: 0;
  }

  .footer-nav a {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 560px) {
  footer .footer-nav {
    display: flex;
    column-gap: 88px;
  }

  footer .footer-nav section {
    margin-right: 0;
  }
}
