@font-face {
  font-family: GT Walsheim Pro;
  src: local('GT Walsheim Pro Regular'), local('GTWalsheimProRegular'),
    url('/assets/fonts/GTWalsheimProRegular.woff2') format('woff2'),
    url('/assets/fonts/GTWalsheimProRegular.woff') format('woff'),
    url('/assets/fonts/GTWalsheimProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #243436;
}

body {
  position: relative;
  min-height: 100vh;
  /* background-image: url(/assets/images/bg.svg); */
  /* background-repeat: repeat-x; */
  /* background-position: top center; */
  background: linear-gradient(180deg, #f1f9fa, #f1f9fa 600px, #ffffff 900px, #ffffff);
  font-family: 'GT Walsheim Pro', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  position: relative;
  display: block;
  margin-left: 24px;
  margin-top: 17px;
}

.logo-image {
  width: 178px;
  height: 40px;
  background-image: url(/assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav.main-nav {
  margin-right: 24px;
  margin-top: 17px;
}

nav.main-nav a {
  color: #5e727f;
  text-decoration: none;
  margin-left: 32px;
  display: inline-block;
}

nav.main-nav a.blog {
  color: #14abb9;
}

nav.main-nav a.testnet {
  border: 1px solid #14abb9;
  color: #14abb9;
  border-radius: 100px;
  padding: 12px 16px;
}

.birds {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 188px;
  background-image: url(/assets/images/birds.png);
  background-repeat: no-repeat;
  z-index: -1;
}

main {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 180px;
}

h1 {
  margin: 0;
  font-size: 96px;
}

h1.post-title {
  font-size: 56px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

a {
  color: #14abb9;
}

.blog-nav {
  margin-top: 40px;
}

.blog-nav a {
  margin-right: 24px;
  text-decoration: none;
  color: #5e727f;
}

.blog-nav a.active {
  color: #14abb9;
}

ul.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-meta {
  line-height: 40px;
  height: 40px;
  margin-top: 16px;
}

.post .post-meta {
  display: flex;
  justify-content: space-between;
}

.share-headline {
  color: #5e727f;
  margin-right: 4px;
  font-size: 14px;
}

.share-links {
  line-height: 28px;
  height: 28px;
  display: inline-block;
}

.share-links a {
  text-decoration: none;
  line-height: 28px;
  height: 28px;
}

.share-links img {
  vertical-align: bottom;
  margin-bottom: 1px;
}

.author-image {
  vertical-align: bottom;
  margin-right: 4px;
  margin-bottom: 1px;
}

.post-list-item {
  margin-top: 90px;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.author {
  font-size: 14px;
}

.date {
  font-size: 14px;
  color: #5e727f;
}

.excerpt {
  max-width: 620px;
}

a.post-link {
  text-decoration: none;
  color: inherit;
}

.post-content,
.post-header,
.post-social,
.post-signup,
.post-share-bottom {
  max-width: 640px;
  margin: 0 auto;
}

.post-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.post-content {
  margin-top: 40px;
  font-size: 18px;
  line-height: 30px;
  overflow-wrap: break-word;
}

.post-content img {
  width: 100%;
  margin: 36px 0;
}

.post-social {
  font-size: 18px;
  line-height: 30px;
}

.post-signup {
  background-color: #f1f9fa;
  border-radius: 10px;
  padding: 40px 32px 32px;
  margin-top: 80px;
  box-sizing: border-box;
  position: relative;
}

.post-signup__inner {
  position: relative;
  z-index: 100;
}

.post-signup__inner__social-links {
  padding-top: 40px;
  display: flex;
}

.post-signup__inner__social-links a {
  width: 28px;
  height: 28px;
}

.post-signup__inner__social-links a:not(:last-of-type) {
  margin-right: 20px;
}

.post-signup__inner__social-links a img {
  width: 100%;
  height: 100%;
}

.post-signup h3 {
  margin: 0;
}

.post-signup p {
  color: #5e727f;
  margin-top: 8px;
  margin-bottom: 24px;
}

.post-signup > img {
  width: 285px;
  filter: drop-shadow(-10px 2px 30px rgba(5, 43, 46, 0.15));
  position: absolute;
  right: -72px;
  bottom: -80px;
}

.signup-wrapper {
  padding: 8px;
  padding-left: 16px;
  border-radius: 100px;
  max-width: 360px;
  display: flex;
  background: white;
}

.signup-input {
  padding: 8px;
  color: #b8bbbd;
  width: 100%;
  background: white;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  transition: color 2s ease-in;
}

.signup-input.error {
  color: red;
  transition: none;
}

.signup-button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  background: #14abb9;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.hidden {
  position: absolute;
  left: -5000px;
}

.post-share-bottom {
  margin-top: 48px;
}

footer {
  position: relative;
  height: 265px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

footer .logo {
  position: absolute;
  top: 50px;
  left: 0px;
}

footer .birds {
  left: 20%;
  width: 80%;
}

nav.footer-nav {
  position: absolute;
  top: 70px;
  left: 60%;
}

.footer-nav section {
  float: left;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.footer-nav .section-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #14abb9;
  padding-bottom: 16px;
}
.footer-nav a {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 16px;
  text-decoration: none;
  color: #5e727f;
}

/* Language: css */
/* Media query for screens smaller than 800px */
@media screen and (max-width: 900px) {
  main {
    margin: 0 24px;
  }

  h1 {
    font-size: 56px;
    margin-top: 136px;
  }

  h1.post-title {
    font-size: 48px;
    margin-top: 136px;
  }

  nav.main-nav a.testnet {
    display: none;
  }

  .logo-image {
    width: 48px;
    height: 48px;
    background-image: url(/assets/images/logo-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav.main-nav {
    margin-top: 28px;
  }

  nav.footer-nav {
    top: 200px;
    left: 24px;
  }

  nav.footer-nav section {
    margin-left: 0;
    margin-right: 78px;
  }

  .blog-nav {
    margin-top: 24px;
  }

  .post-list-item:first-of-type {
    margin-top: 48px;
  }

  .post-signup {
    padding: 16px 24px;
  }

  .signup-button {
    margin-top: 16px;
  }

  .signup-input {
    border-radius: 100px;
    width: 100%;
    box-sizing: border-box;
  }

  .post-signup form {
    width: 100%;
  }

  .post-signup img {
    display: none;
  }

  .signup-wrapper {
    padding: 0;
    border-radius: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    background: transparent;
  }
}
