---
layout: default
---

<div class="home">
  <h1 class="page-heading">Mangata blog</h1>

  <nav class="blog-nav">
    <a class="page-link" href="/">Blog Posts</a>
    <a class="page-link" href="/press-releases">News</a>
  </nav>
  {{ content }} {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <img src="/assets/posts/{{post.image}}" alt="post.title" />
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
      </h3>
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <p>{{ post.excerpt }}</p>
      <!-- {{site.minima.date_format | default: "%b %-d, %Y" -%}} -->
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}
</div>
