---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    {%- assign date_format =  "%b %-d, %Y" -%}
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <div class="post-meta">
      <img class="author-image" src="/assets/authors/{{page.author-image}}" width="20" height="20" alt="{{post.author}}"/>

      <span class="author">
        by
        {{page.author}}</span>

      <span class="date">
        ·
        {{ page.date | date: date_format }}</span>
    </div>
  </header>

  <img class="post-image" src="/assets/posts/{{page.image}}" alt="{{page.title}}"/>

  <div class="post-content">{{ content }}</div>

  <div class="post-social">
    <p>
      Stay tuned for these updates and more by following our socials:
      <a href="https://twitter.com/MangataFinance" target="_blank">Twitter</a>
      |
      <a href="https://discord.gg/X4VTaejebf" target="_blank">Discord</a>
      |
      <a href="https://t.me/mgtfi" target="_blank">Telegram</a>
      |
      <a href="https://mangata.finance" target="_blank">Website</a>
      |
      <a href="https://github.com/mangata-finance" target="_blank">Github</a>
      |
      <a href="https://www.linkedin.com/company/mangata-finance" target="_blank">Linkedin</a>
      |
      <a href="https://blog.mangata.finance" target="_blank">Blog</a>
    </p>
  </div>

  <div class="post-signup">
    <h3>Stay tuned for the blog updates</h3>
    <p>Subscribe to the newsletter and follow Mangata on social media</p>
    <form action="https://finance.us6.list-manage.com/subscribe/post?u=34c1150a364dba3dd3ef8f9aa&amp;id=51858f36ec" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group signup-wrapper">
          <input class="signup-input" id="mce-EMAIL" name="EMAIL" placeholder="Enter your email address" type="email" value="">
          <button class="signup-button" id="mc-embedded-subscribe" name="subscribe" type="submit">Subscribe</button>
        </div>
        <div aria-hidden="true" class="hidden"><input name="b_34c1150a364dba3dd3ef8f9aa_51858f36ec" readonly="" tabindex="-1" type="text" value=""></div>
      </div>
    </form>
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
