---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    {%- assign date_format =  "%b %-d, %Y" -%}
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <div class="post-meta">
      <img class="author-image" src="/assets/authors/{{page.author-image}}" width="20" height="20" alt="{{post.author}}"/>

      <span class="author">
        by
        {{page.author}}</span>

      <span class="date">
        ·
        {{ page.date | date: date_format }}</span>
    </div>
  </header>

  <img class="post-image" src="/assets/posts/{{page.image}}" alt="{{page.title}}"/>

  <div class="post-content">{{ content }}</div>

  <div class="post-social">
    <p>
      Stay tuned for these updates and more by following our socials: Follow Mangata to stay in touch:
      <a href="https://twitter.com/MangataFinance" target="_blank">Twitter</a>
      |
      <a href="https://discord.gg/X4VTaejebf" target="_blank">Discord</a>
      |
      <a href="https://t.me/mgtfi" target="_blank">Telegram</a>
      |
      <a href="https://mangata.finance" target="_blank">Website</a>
      |
      <a href="https://github.com/mangata-finance" target="_blank">Github</a>
      |
      <a href="https://www.linkedin.com/company/mangata-finance" target="_blank">Linkedin</a>
      |
      <a href="https://blog.mangata.finance" target="_blank">Blog</a>
    </p>
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
